*.lo
*.loT
*.o
*.la
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp
*.gir
*.typelib
*.log
*.trs
*.test

aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
mkinstalldirs
missing
py-compile
stamp-h.in
stamp-h1
test-driver

gtk-doc.make
gupnp-igd-1.6-uninstalled.pc
gupnp-igd-1.6.pc

libgupnp-igd/gupnp-simple-igd-marshal.[ch]

tests/examples/test
tests/examples/test-thread

tests/gtest/gupnp-simple-igd

doc/gupnp-igd-decl-list.txt
doc/gupnp-igd-decl.txt
doc/gupnp-igd-overrides.txt
doc/gupnp-igd-undeclared.txt
doc/gupnp-igd-undocumented.txt
doc/gupnp-igd-unused.txt
doc/gupnp-igd.args
doc/gupnp-igd.hierarchy
doc/gupnp-igd.interfaces
doc/gupnp-igd.prerequisites
doc/gupnp-igd.signals
doc/gupnp-igd.types
doc/html/
doc/tmpl/
doc/version.xml
doc/xml/

python/pygupnp-igd.c
